.contact {
  margin-top: 100px;

  .hero-contact {
    background: url(../../../public/shop-hero.png);
    padding: 121px 0 97px 0;
    text-align: center;
    h1 {
      color: #000;
      font-family: "Poppins", sans-serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    p {
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      span .home_link {
        color: #000;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-decoration: none;
        font-weight: bolder;
      }
    }
  }
}
