.footer {
  width: 100%;
  height: 505px;
}

.footer_box {
  width: 1241px;
  margin: 0 auto;
}

.box2 {
  padding-top: 48px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

.furniro_about {
  width: 285px;
  height: 160px;
  margin: 0;
  padding: 0;
}

li.furniro_about_1 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}

li.furniro_about_2 {
  width: 285px;
  color: #9f9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p.line {
  width: 1240.015px;
  height: 1px;
  margin-bottom: 35px;
  margin-top: 0;
  background: #d9d9d9;
}

p.subtitle {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.links {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

  .links_2 {
    margin-bottom: 46px;
  }

  .Links_1 {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }
  .active {
    color: var(--Primary, #b88e2f);
  }
}

.links_1 {
  color: #9f9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 55px;
}

ul.help {
  margin: 0;
  padding: 0;
}

.help_1 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 46px;
  cursor: pointer;
}

.help_1:hover {
  color: var(--Primary, #b88e2f);
}

ul.subscribe {
  margin: 0;
  padding: 0;
}

.emails {
  display: flex;
  gap: 11px;

  input {
   padding: 10px;
    width: 200px;
    border: none;
    border-bottom: 2px solid black;

    input::placeholder {
      color: #9f9f9f;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .subsc {
    cursor: pointer;
    border:none;
    background-color: transparent;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-bottom: 2px solid black;
  }

  .subsc:hover {
    color : #b88e2f;
    border-bottom: 2px solid #b88e2f;
  }
}

.title_11 {
  margin: 0;
  font-size: 20px;
  display: inline-block;
  color :#b88e2f ;
}
